<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">

          <!-- HTML Meta Content -->
          <meta name="description"
                    content="Get your IP address in just a single click. You can use this IP address to track your location. Various formats are available for your IP address.">
          <meta author="Toufiq Hasan Kiron" />

          <!-- Google / Search Engine Tags -->
          <meta itemprop="name" content="" Developer Info - IP Finder">
          <meta itemprop="description"
                    content="Get your IP address in just a single click. You can use this IP address to track your location. Various formats are available for your IP address.">
          <meta itemprop="image" content="https://res.cloudinary.com/kirondev/image/upload/v1709446594/icon_aehcmo.png">

          <meta property="og:title" content="Developer Info - IP Finder">
          <meta property="og:description"
                    content="Get your IP address in just a single click. You can use this IP address to track your location. Various formats are available for your IP address.">
          <meta property="og:image"
                    content="https://res.cloudinary.com/kirondev/image/upload/v1709446594/icon_aehcmo.png">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <meta name="keywords" content="IP Finder, IP, IP Address, Find IP, Get IP" />

          <link rel="shortcut icon" href="https://res.cloudinary.com/kirondev/image/upload/v1709446594/icon_aehcmo.png"
                    type="image/x-icon">

          <script src="https://cdn.tailwindcss.com"></script>
          <link href="https://cdn.jsdelivr.net/npm/daisyui@2.6.0/dist/full.css" rel="stylesheet" type="text/css" />
          <title>"Developer Info - IP Finder</title>
          <style>
                    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

                    body {
                              font-family: 'Poppins', sans-serif;
                    }
          </style>
</head>

<body class="bg-black">
          <div class="flex flex-col justify-center items-center h-screen">
                    <div class="avatar mb-8">
                              <div
                                        class="w-48 md:w-72 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
                                        <a href="https://toufiqhasankiron.com" target="_blank">
                                                  <img
                                                            src="https://res.cloudinary.com/kirondev/image/upload/v1700740969/fotor-ai-202309191952_bschm6.jpg" />
                                        </a>
                              </div>
                    </div>
                    <h1
                              class="flex justify-center items-center text-center text-xl md:text-2xl lg:text-3xl text-white px-4 md:px-0">
                              Check your IP Address
                    </h1>
                    <a href="/" class="btn btn-xs md:btn-sm btn-accent mt-4 mb-3">Check IP</a>
                    <span class="text-white text-center mt-[20px]">Dev - <a href="https://toufiqhasankiron.com"
                                        target="_blank" class="text-accent font-semibold text-md">Toufiq Hasan
                                        Kiron</a></span>
          </div>
</body>

</html>