<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">

          <!-- HTML Meta Content -->
          <meta name="description"
                    content="Get your IP address in just a single click. You can use this IP address to track your location. Various formats are available for your IP address.">
          <meta author="Toufiq Hasan Kiron" />

          <!-- Google / Search Engine Tags -->
          <meta itemprop="name" content="Developer Info - IP Finder">
          <meta itemprop="description"
                    content="Get your IP address in just a single click. You can use this IP address to track your location. Various formats are available for your IP address.">
          <meta itemprop="image" content="https://res.cloudinary.com/kirondev/image/upload/v1709446594/icon_aehcmo.png">

          <meta property="og:title" content="Developer Info - IP Finder">
          <meta property="og:description"
                    content="Get your IP address in just a single click. You can use this IP address to track your location. Various formats are available for your IP address.">
          <meta property="og:image"
                    content="https://res.cloudinary.com/kirondev/image/upload/v1709446594/icon_aehcmo.png">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <meta name="keywords" content="IP Finder, IP, IP Address, Find IP, Get IP" />

          <link rel="shortcut icon" href="https://res.cloudinary.com/kirondev/image/upload/v1709446594/icon_aehcmo.png"
                    type="image/x-icon">

          <script src="https://cdn.tailwindcss.com"></script>
          <link href="https://cdn.jsdelivr.net/npm/daisyui@2.6.0/dist/full.css" rel="stylesheet" type="text/css" />
          <title>Documentation - IP Finder</title>
          <style>
                    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

                    body {
                              font-family: 'Poppins', sans-serif;
                    }
          </style>
</head>

<body class="bg-black">
          <div class="flex flex-col justify-center items-center h-screen">
                    <h1
                              class="flex justify-center items-center text-center text-xl md:text-2xl lg:text-3xl text-white underline px-4 md:px-0">
                              Documentation
                    </h1>

                    <div class="flex flex-col justify-center items-center">
                              <p class="mt-3 text-white
                                        text-sm md:text-base lg:text-lg text-center px-4 lg:px-0">
                                        There are four formats available for your IP address. <br> <span
                                                  class="font-semibold text-accent">JSON</span>, <span
                                                  class="font-semibold text-accent">TEXT</span>,
                                        <span class="font-semibold text-accent">XML</span>, <span
                                                  class="font-semibold text-accent">HTML</span>
                              </p>
                              <h3 class="text-white
                                        text-lg md:text-xl lg:text-2xl mt-4 mb-2">How to use?</h3>
                              <ul class="text-white
                                        text-sm md:text-base lg:text-lg text-center px-4 lg:px-0 space-y-1">
                                        <li> GET - <a href="/?format=json"
                                                            class="text-accent duration-300">/?format=json</a></li>
                                        <li>GET - <a href="/?format=text"
                                                            class="text-accent duration-300">/?format=text</a></li>
                                        <li>GET - <a href="/?format=xml"
                                                            class="text-accent duration-300">/?format=xml</a></li>
                                        <li> GET - <a href="/?format=html"
                                                            class="text-accent duration-300">/?format=html</a></li>
                              </ul>
                    </div>

                    <a href="/" class="btn btn-xs btn-error text-white mt-4 mb-3">Home</a>
          </div>
</body>

</html>